<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random references</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div id="stars-container"></div>
    <div class="fixed-header">
        Random references
    </div>

    <div class="main-container">
        <div class="form-box" id="form-box">
            <div class="button-container">
                <button class="button active-button" id="btn-usuario" onclick="showForm('usuario')">Usuario</button>
                <button class="button" id="btn-tablero" onclick="showForm('tablero')">Tablero</button>
                <button class="button" id="btn-aleatorio" onclick="showForm('aleatorio')">Palabra clave</button>
            </div>
            <div id="usuario" class="form active">
                <h2>Busqueda por usuario:</h2>
                <form action="/username" method="post">
                    <div class="input-grid">
                        <div style="grid-column: span 2; text-align: center;">
                            <label for="username">Nombre de usuario:</label>
                            <input type="text" id="username" name="username" placeholder="Nombre de usuario" style="width: 80%; margin: 0 auto;">
                        </div>
                        <div>
                            <label for="amount_boards">Cantidad de tableros:</label>
                            <input type="number" id="amount_boards" name="amount_boards" placeholder="999">
                        </div>
                        <div>
                            <label for="amount_pins">Cantidad de pins:</label>
                            <input type="number" id="amount_pins" name="amount_pins" placeholder="12">
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="submit">
                </form>
            </div>

            <div id="tablero" class="form">
                <h2>Busqueda por tablero:</h2>
                <form action="/board" method="post">
                    <div class="input-grid">
                        <div style="grid-column: span 2; text-align: center;">
                            <label for="board_username">Nombre de usuario:</label>
                            <input type="text" id="board_username" name="board_username" style="width: 80%; margin: 0 auto;" placeholder="Nombre de usuario">
                        </div>
                        <div>                            
                            <label for="board_url">Url tablero:</label>
                            <input type="text" id="board_url" name="board_url" placeholder="https://www.pinterest.com/<username>/<board>">
                        </div>
                        <div>
                            <label for="amount_pins">Cantidad de pins:</label>
                            <input type="number" id="amount_pins" name="amount_pins" placeholder="12">
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="submit">
                </form>
            </div>
            

                <div id="aleatorio" class="form">
                    <h2>Busqueda por palabras clave:</h2>
                    <form action="/keyword" method="post">
                        <div class="input-grid">
                            <div>
                                <label for="keyword">Palabras clave:</label>
                                <input type="text" id="keyword" name="keyword" placeholder="Ingrese palabra clave">
                            </div>
                            <div>
                                <label for="amount_pins">Cantidad de pins:</label>
                                <input type="number" id="amount_pins" name="amount_pins" placeholder="12">
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showForm(formName) {
            const forms = document.querySelectorAll('.form');
            const buttons = document.querySelectorAll('.button');
    
            // Hide all forms with a fade-out effect
            forms.forEach(form => {
                form.style.opacity = '0'; // Start fade-out
            });
    
            // Disable buttons for the active form
            buttons.forEach(button => {
                button.disabled = false; // Enable all buttons
                button.classList.remove('active-button'); // Remove active class
            });
    
            // Set a timeout to remove the form after fade-out
            setTimeout(() => {
                forms.forEach(form => {
                    form.classList.remove('active'); // Hide all forms
                    form.style.display = 'none'; // Hide the forms
                });
    
                const selectedForm = document.getElementById(formName);
                selectedForm.style.display = 'block'; // Show selected form
    
                // Set a timeout to fade in the selected form
                setTimeout(() => {
                    selectedForm.style.opacity = '1'; // Fade-in effect
                    selectedForm.classList.add('active'); // Show selected form
                    // Update the form-box height to fit the new form
                    const formBox = document.querySelector('.form-box');
                    formBox.style.height = `${selectedForm.offsetHeight + 60}px`; // Add padding for content
                }, 100); // Delay for fade-in
    
            }, 350); // Delay for fade-out before showing the next form
    
            // Disable the active button
            document.getElementById(`btn-${formName}`).disabled = true; 
            document.getElementById(`btn-${formName}`).classList.add('active-button'); // Add active class
        }
    
        function createStar() {
            const star = document.createElement('div');
            star.style.position = 'absolute';
            star.style.width = '2px';
            star.style.height = '2px';
            star.style.backgroundColor = 'yellow';
            star.style.borderRadius = '50%';
            star.style.left = `${Math.random() * 100}vw`;
            star.style.top = `${Math.random() * 100}vh`;
            star.dataset.speed = Math.random() * 0.10 + 0.01; // Store speed as a dataset attribute
            return star;
        }
    
        function initStars() {
            const container = document.getElementById('stars-container');
            for (let i = 0; i < 100; i++) {
                container.appendChild(createStar());
            }
            moveStars(); // Initial position update
        }
    
        function moveStars() {
            const stars = document.querySelectorAll('#stars-container div');
            const scrollY = window.scrollY;
    
            stars.forEach(star => {
                const speed = parseFloat(star.dataset.speed);
                star.style.transform = `translateY(${scrollY * speed}px)`;
            });
    
            requestAnimationFrame(moveStars); // Request next frame for smooth animation
        }
    
        window.addEventListener('load', () => {
            initStars();
            showForm('usuario'); // Initialize with the default form
        });
    
        window.addEventListener('scroll', () => {
            requestAnimationFrame(moveStars); // Trigger the movement only on scroll
        });
    </script>
    
    
</body>
</html>
